# php_java_socket
php_java_socket/.idea
php_java_socket/bin

# 搜狗微信抓取数据文件及用户信息
sougou_weixin_crawl/articles
sougou_weixin_crawl/cookies.txt

# zhihu_crawl
zhihu_crawl/data
zhihu_crawl/*.txt
zhihu_crawl/users-processed.break
zhihu_crawl/zhihu-member-names.json
